<div mat-dialog-title class="div-title">
    <span>Nova Pessoa</span>
</div>
<form [formGroup]="personForm" (ngSubmit)="onFormSubmit()">

    <div mat-dialog-content class="single-content">
        <div class="row">
            <mat-form-field appearance="outline">
                <input matInput type="text" placeholder="Nome" formControlName="name" required>
                <mat-hint>Informe o nome da pessoa</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput type="email" placeholder="Email" name="email" formControlName="email" required />
                <mat-hint>Informe o email da pessoa</mat-hint>
                <mat-error *ngIf="personForm.value.email">Informe um email válido</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Atualizar' : 'Salvar'}}</button>
    </div>
    
</form>