<div ng-include src="app.component.html"></div>
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/areas">
      <mat-icon>dialpad</mat-icon>
      <span>Areas</span>
    </button>
    <button mat-menu-item routerLink="/person">
      <mat-icon>perm_identity</mat-icon>
      <span>Pessoas</span>
    </button>
    <button mat-menu-item routerLink="/systems">
      <mat-icon>important_devices</mat-icon>
      <span>Sistemas</span>
    </button>
    <button mat-menu-item routerLink="/proccess">
      <mat-icon>format_align_left</mat-icon>
      <span>Processos</span>
    </button>
    <button mat-menu-item routerLink="/map-proccess">
      <mat-icon>category</mat-icon>
      <span>Mapeamento</span>
    </button>
  </mat-menu>
  <span>Case Stage - Mapeamento</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="main-body">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">category</mat-icon>
        Fluxo de processos
      </ng-template>
      <div class="div-map-proccess">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>

            <a (click)="openViewProccessForm(node)" [routerLink]="[ '/', 'map-proccess' ]" routerLinkActive="active">{{node.name}}</a>
            
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <a (click)="openViewProccessForm(node)" [routerLink]="[ '/', 'map-proccess' ]" routerLinkActive="active">{{node.name}}</a>
          </mat-tree-node>
        </mat-tree>
      </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">format_align_left</mat-icon>
        Fluxo de processos em Tabela
      </ng-template>
      Mapeamento por área
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Mapeamento de incidentes
      </ng-template>
      Mapeamento de incidentes
    </mat-tab>
  </mat-tab-group>
  
</div>

