USE [master]
GO
/****** Object:  Database [casestage_db]    Script Date: 16/06/2023 15:15:05 ******/
CREATE DATABASE [casestage_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'casestage_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\casestage_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'casestage_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\casestage_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [casestage_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [casestage_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16/06/2023 15:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 16/06/2023 15:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 16/06/2023 15:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proccess]    Script Date: 16/06/2023 15:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proccess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdParent] [int] NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Documentation] [nvarchar](800) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[AreaId] [int] NULL,
	[PersonId] [int] NULL,
	[SystemAppId] [int] NULL,
 CONSTRAINT [PK_Proccess] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProccessFiles]    Script Date: 16/06/2023 15:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProccessFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[ProccessId] [int] NOT NULL,
 CONSTRAINT [PK_ProccessFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProccessPerson]    Script Date: 16/06/2023 15:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProccessPerson](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProccessId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_ProccessPerson] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProccessSystems]    Script Date: 16/06/2023 15:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProccessSystems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProccessId] [int] NOT NULL,
	[SystemId] [int] NOT NULL,
 CONSTRAINT [PK_ProccessSystems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemApps]    Script Date: 16/06/2023 15:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemApps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SystemApps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proccess_AreaId]    Script Date: 16/06/2023 15:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_Proccess_AreaId] ON [dbo].[Proccess]
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proccess_PersonId]    Script Date: 16/06/2023 15:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_Proccess_PersonId] ON [dbo].[Proccess]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proccess_SystemAppId]    Script Date: 16/06/2023 15:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_Proccess_SystemAppId] ON [dbo].[Proccess]
(
	[SystemAppId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProccessFiles_ProccessId]    Script Date: 16/06/2023 15:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_ProccessFiles_ProccessId] ON [dbo].[ProccessFiles]
(
	[ProccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProccessPerson_ProccessId]    Script Date: 16/06/2023 15:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_ProccessPerson_ProccessId] ON [dbo].[ProccessPerson]
(
	[ProccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProccessSystems_ProccessId]    Script Date: 16/06/2023 15:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_ProccessSystems_ProccessId] ON [dbo].[ProccessSystems]
(
	[ProccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Proccess]  WITH CHECK ADD  CONSTRAINT [FK_Proccess_Areas_AreaId] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Proccess] CHECK CONSTRAINT [FK_Proccess_Areas_AreaId]
GO
ALTER TABLE [dbo].[Proccess]  WITH CHECK ADD  CONSTRAINT [FK_Proccess_Persons_PersonId] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([Id])
GO
ALTER TABLE [dbo].[Proccess] CHECK CONSTRAINT [FK_Proccess_Persons_PersonId]
GO
ALTER TABLE [dbo].[Proccess]  WITH CHECK ADD  CONSTRAINT [FK_Proccess_SystemApps_SystemAppId] FOREIGN KEY([SystemAppId])
REFERENCES [dbo].[SystemApps] ([Id])
GO
ALTER TABLE [dbo].[Proccess] CHECK CONSTRAINT [FK_Proccess_SystemApps_SystemAppId]
GO
ALTER TABLE [dbo].[ProccessFiles]  WITH CHECK ADD  CONSTRAINT [FK_ProccessFiles_Proccess_ProccessId] FOREIGN KEY([ProccessId])
REFERENCES [dbo].[Proccess] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProccessFiles] CHECK CONSTRAINT [FK_ProccessFiles_Proccess_ProccessId]
GO
ALTER TABLE [dbo].[ProccessPerson]  WITH CHECK ADD  CONSTRAINT [FK_ProccessPerson_Proccess_ProccessId] FOREIGN KEY([ProccessId])
REFERENCES [dbo].[Proccess] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProccessPerson] CHECK CONSTRAINT [FK_ProccessPerson_Proccess_ProccessId]
GO
ALTER TABLE [dbo].[ProccessSystems]  WITH CHECK ADD  CONSTRAINT [FK_ProccessSystems_Proccess_ProccessId] FOREIGN KEY([ProccessId])
REFERENCES [dbo].[Proccess] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProccessSystems] CHECK CONSTRAINT [FK_ProccessSystems_Proccess_ProccessId]
GO
USE [master]
GO
