<div mat-dialog-title class="div-title">
    <span>Novo Sistema</span>
</div>
<form [formGroup]="systemForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="Sistema" formControlName="name" required>
            <mat-hint>Informe o nome do sistema</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-content class="content">
        <div class="row">
            <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="active">Ativo</mat-checkbox>
              </section>
        </div>
    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Atualizar' : 'Salvar'}}</button>
    </div>
    
</form>