<div mat-dialog-title>
    <h1>Novo Processo</h1>
</div>
<form [formGroup]="proccessForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="Descrição" formControlName="description">
            <mat-hint>Informe a descrição do processo</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Área</mat-label>
                <mat-select formControlName="areas">
                  <mat-option *ngFor="let area of areas | async" [value]="area.id">{{area.name}}</mat-option>
                </mat-select>
              </mat-form-field>

        </div>
    </div>

    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <textarea matInput placeholder="Comment"  formControlName="documentation"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-content class="content">
        <div class="row" formArrayName="persons">
            <mat-form-field>
                <mat-label>Pessoas responsáveis</mat-label>
                <mat-select [formControl]="persons" multiple>
                  <mat-option *ngFor="let person of personsList | async" [value]="person.id">{{person.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div mat-dialog-content class="content">
        <div class="row" formArrayName="systemApps">
            <mat-form-field>
                <mat-label>Sistemas envolvidos</mat-label>
                <mat-select [formControl]="systemApps" multiple>
                  <mat-option *ngFor="let system of systemsList | async" [value]="system.id">{{system.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div mat-dialog-content class="content">
        <div class="row">
            <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="active">Ativo</mat-checkbox>
              </section>
        </div>
    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Atualizar' : 'Salvar'}}</button>
    </div>
    
</form>