.form {
    width: 800px;
}

.single-content {
    padding-top: 10px;
    width: 100%;
}

.single-row {
    width: 750px;

    .single-field {
        width: 100%;
    }
}

.content {
    padding-top: 10px;
    width: 100%;
}

.row {
    display: flex;
    gap: 10px;

    mat-form-field {
        width: 50%;
    }
}

.action {
    padding: 0px 25px 20px;

    button {
        flex: 1;
    }
}